<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		html {
			font-family: monospace;
			font-size: 16px;
		}
		table, td, th {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 4px;
		}
		ul li {
			list-style-type: "-";
			padding: 4px 8px;
		}
	</style>
</head>
<body>
	<h1>Basket Imola International</h1>
	<ul>
		<li><a href="/players">Elenco giocatori</a></li>
		<li><a href="/add-player">Registra giocatore</a></li>
		<li><a href="/record-fee-payment">Registra pagamento quota</a></li>
		<li><a href="/coaches">Elenco allenatori</a></li>
		<li><a href="/add-coach">Registra allenatore</a></li>
		<li><a href="/teams">Squadre</a></li>
		<li><a href="/create-team">Crea squadra</a></li>
		<li><a href="/products-warehouse">Magazzino prodotti</a></li>
		<li><a href="/record-sale">Registra vendita</a></li>
	</ul>
</body>
</html>