<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		html {
			font-family: monospace;
			font-size: 16px;
		}
		table, td, th {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 4px;
		}
		ul li {
			list-style-type: "-";
			padding: 4px 8px;
		}
	</style>
</head>
<body>
	{% if sede is not None %}
		<h1>{{ sede }}</h1>
	{% else %}
		<h1>Basket Imola International</h1>
	{% endif %}
	{% if show_branch_selector == True %}
		{% include 'branch-selector.html' %}
	{% endif %}
	<thead>
		<tr>
			{% for c in cols %}
				<th>{{ c }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for r in rows %}
			<tr>
				{% for val in r %}
					<td>{{ val }}</td>
				{% endfor %}
					<td><a href="/edit?table={{ table }}&id={{ r[0] }}">Modifica</a></td>
			</tr>
		{% endfor %}
	</tbody>
</body>
</html>