<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style>
		html {
			font-family: monospace;
			font-size: 16px;
		}
		table, td, th {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 4px;
		}
		input {
			display: block;
			margin: 4px;
			margin-left: 12px;
			margin-bottom: 16px;
		}
		select {
			margin: 8px;
			margin-bottom: 16px;
			display: block;
		}
		button {
			margin: 8px;
			margin-bottom: 16px;
			display: block;
		}
	</style>
</head>
<body>
	<h1>{{ page_title }}</h1>
	<form method=POST>
		<table>
			<thead>
				<tr>
					{% for c in cols %}
						<th>{{ c }}</th>
					{% endfor %}
						<th>Quantità</th>
				</tr>
			</thead>
			<tbody>
				{% for r in rows %}
					<tr>
						{% for val in r %}
							<td>{{ val }}</td>
						{% endfor %}
						<td><input type="number" id="quantita" value="" placeholder="0"/></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<label for="branch-selector">Seleziona una sede</label>
		<select style="margin-top: 8px; margin-bottom: 8px;" name="sede" id="branch-selector" required>
			<option value="">-- Scegli una sede --</option>
			{% for id, nome in branches %}
				<option value="{{ id }}">{{ nome }}</option>
			{% endfor %}
		</select>	
		<input type="number" name="totale" hidden>
		<button type="submit">Registra</button>	
	</form>
</body>
<script type="text/javascript">
	let rows = document.querySelectorAll('tbody tr');
	for (let i = 0; i < rows.length; i++) {		
		let product_id = rows[i].children[0].innerText;
		let len = rows[i].childElementCount;
		let input_element = rows[i].children[len - 1].children[0];

		input_element.setAttribute("name", product_id);
	}
</script>
</html>